* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 2fr minmax(20em, 100em) 1fr;
  grid-template-rows: 150px auto 1fr 100px;
  min-height: 100vh;
  background-color: white;
}
article {
  grid-row: 2;
  grid-column: 2;
}

nav {
  overflow: hidden;
  grid-row: 1;
  grid-column: 1 / span 3;
  min-width: 200px;
  height: 1fr;
  text-align: center;
  align-content: center;
}

footer {
    position: fixed;
    grid-column:  1 / span 3;
    padding: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
  }

  .fs-centered{
    margin:auto,

  }

  .gw-connected{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: green;
    display: inline-block;
  }

  .gw-disconnected{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: red;
    display: inline-block;
  }
  